/* body{
    background-color: rgb(169, 169, 28);
} */
.bgi{
    background-color: #f9f9f9;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;

    /* background-image: linear-gradient(to bottom ,#c8b6b6 , black); */
}
.card{
    width: fit-content;
    margin: auto;
    background-color: white;
    border: none;
    box-shadow: 5px 5px 5px 5px rgba(56, 51, 51, 0.669);
}
form{
    font-size: 20px;
    font-weight: 500;
    /* background-color: aqua; */
}
label{
    margin-top: 10px;
}